// Typeography Styles
$dadbot-font-stack: 'Nunito Sans', 'Helvetica', sans-serif;

body {
  font-family: $dadbot-font-stack;
  color: $black;
  font-size: 14px // Base font Size
}

h1 {
  font-weight: 900;
  font-size: 4.2em;
  letter-spacing: -2px;
  margin-top: 0px;
}

p { 
  font-size: 1em;
  font-weight: 300;
  
  // Set's larger size for intro on Homepage
  &--lead {
    font-size: 1.5em;
  }
}

// Link color
a {
  color: $black;
  font-weight: 900;
  transition: color 0.2s;

  &:hover {
    text-decoration: none;
    color: $red;
  }
}