// Responsive Styles 
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .intro-section{
      margin-bottom: 15px;
      text-align: center;
      
      h1 {
        font-size: 40px;
        letter-spacing: -1px;
      }

      p {
        font-size: 18px;
      }
    }

    #joke {
      font-size: 25px;
    }
}